page-login {
    #body {
        background-color: #F7F8FF;
        font-family: roboto-bold;
    }

    .displayLogo {
        width: 310px;
        height: 250px;
        background-color: #F7F8FF;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .icon-color {
        color: #b9b9bb;
    }

    button {
        width: 153px;
    }

    #display-btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #login-btn {
        background-color: #292975;
    }

    #signup-btn {
        background-color: #000000;
    }

    .instruction {
        width: 343px;
        height: 197px;
        background-color: transparent;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .div-btm {
        height: 42px;
        position: absolute;
        bottom: 0%;
        width: 100%;
        background-color: #E5EAFF;
    }

    .input-color {
        background-color: #F7F8FF;
    }
}
