page-login {

    // Body Content
    #body {
        background-color: #F7F8FF;
    }

    // Logo Display
    .displayLogo {
        width: 260px;
        height: 200px;
        background-color: #F7F8FF;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    // Icon Color
    .icon-color {
        color: #b9b9bb;
    }

    // text field's place holder
    .text-input::-moz-placeholder {
        color: #BFBFBF;
        font-weight: bold;
      }
      
      .text-input:-ms-input-placeholder {
        color: #BFBFBF;
        font-weight: bold;
      }
      
      .text-input::-webkit-input-placeholder {
        color: #BFBFBF;
        font-weight: bold;
      }

      // Error Validation
    .error {
        color: red;
        font-size: 15px;
        font-weight: bolder;
        background-color: #F7F8FF;
        padding-top: 2%;
        
    }

    button {
        width: 153px;
        
    }

    #display-btn{
        margin-left: auto;
        margin-right: auto;
        text-align: center; 
    }

    #login-btn {
        background-color: #292975;
        font-weight: bold;
    }

    #signup-btn {
        background-color: #000000;
        font-weight: bold;
    }

    .instruction {
        width: 320px;
        height: 182px;
        background-color: transparent;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    .center {
        text-align: center;
        padding-top: 2%;
    }

    .lostPassword-btn {
        background:none;
        border:none;
        font-size: 18px;
        font-weight: 300;
        color: #9E9E9E;
        font-weight: bold;
    }

    .div-btm {
        height: 42px;
        position: absolute;
        bottom: 0%;
        width: 100%;
        background-color: #E5EAFF;
    }

    .input-color {
        background-color: #F7F8FF;
    }

    .ilist {
        width: 35%;
        min-width: 320px;
    }

    .center1 {
        margin-left: auto;
        margin-right: auto;
        width: 360px;
    }

}
