page-register {
    // Body Content
    #body {
        background-color: #F7F8FF;
        font-family: roboto;
    }

    // Centralized Field
    .center {
        margin-left: auto;
        margin-right: auto;
        width: 360px;
    }
    
    // Label Box Color
    .labelBoxColor {
        background-color: #E5EAFF;
        height: 42px;
        padding-top: 3%;
    }

    // Label Text 
    .labelText {
        font-size: 14px;
        color: #787878;
        font-weight: bold;
    }

    // Placeholder text field color
    .text-input::-moz-placeholder {
        color: #D6D4D4;
        font-weight: bold;
      }
      
      .text-input:-ms-input-placeholder {
        color: #D6D4D4;
        font-weight: bold;
      }
      
      .text-input::-webkit-input-placeholder {
        color: #D6D4D4;
        font-weight: bold;
      }

    // agreement text color
    .agreementCenter {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #A3A2A2;
    }

    // white line
    .whiteLine {
        position: absolute;
        bottom: 15px;
        width: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: #D4D4D4 #D4D4D4 #D4D4D4 #D4D4D4;
    }

    // all button
    button {
        width: 348px;
    }

    //register button
    #register-btn {
        background-color: #000000;
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    // back button
    #back-btn {
        background-color: #869BEB;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        display: block;
    }

    // Instruction Picture
    .instruction {
        width: 320px;
        height: 170px;
        background-color: transparent;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }

    // coloured div box bottom
    .div-btm {
        height: 42px;
        position: absolute;
        bottom: 0%;
        width: 100%;
        background-color: #E5EAFF;
    }
}
