page-item {

    
ion-slides.slides {
    height: 330px;
}
      
.swiper-pagination {
    bottom: 0px;
    left: 0px;
}

.img-ads{
height: 120px;
width: 400px;
}
.big{
    height: 330px;
    width: 330px;

}
.slide-small{
   padding-left: 0%;
}
.segment-img{
    padding-left: 0%;
}

.segment{
    background-color: #35478C;

    color: #F7F8FF;
    vertical-align:middle;
    font-weight: bold;
    font-size: 17px;
    display: table-cell;
    padding: 10px;
   
    
}
.graydiv{
    background-clip: #E5E5E5;
    padding-left: 0%;
    margin-top: 30px;
}
.item-desc{
    position: fixed;
}



}




