page-home {

<<<<<<< HEAD
ion-slides{
height: 140px;
width: 400px;

}    
.img{
height: 120px;
width: 400px;
}
.small{
    height: 100px;
    width: 100px;
}
.slide-small{
   text-align: left;
}
=======
    ion-slides{

        height: 140px;
        width: 330px;
    }   

    img{

        height: 120px;
        width: 300px;
    }

    #slideshowPreview {
        position: absolute;
        text-align: center;

    }
>>>>>>> 408a2cff45118d4a4eb9ae3a7897cb8a794c7a8a

.segment{
    background-color: #35478C;
    height: 40px;
    width: 500px;
    color: #F7F8FF;
    vertical-align:middle;
    font-weight: bold;
    font-size: 17px;
    display: table-cell;
    text-align: center;
}
.graydiv{
    background-clip: #E5E5E5;
}


}

