page-account {

    ion-content {
        font-family: quicksand;
    }

    #body {
        background-color: #F7F8FF;
    }

    #titleCenter {
        text-align: center;
    }

    #profileBGcolor {
        background-color: #222222;
        position: absolute;
        top: 1%;
        width: 100%;
        height: 260px;
    }

    #profileBGcenter{
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .profileBGtext {
        font-size: 18px;
        color: #CFCFCF;
        font-weight: bold;
        text-shadow: 0px 1px black;
        letter-spacing: 3px;
    }

    #userProfileImage {
        width: 151px;
        height: 142px;
        background-color: #222222;
    }

    #settingHeader {
        padding-top: 3%;
        position: relative;
        display: block;
        text-align: left;
    }

    button {
        width: 100%;
    }

    .textFont {
        color: black;
        font-weight: bold;
    }
}
